body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* overriding input focus glow (http://stackoverflow.com/a/27778789)*/
.form-control:focus {
  border-color: #acb6bf;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(172, 182, 191, 0.6);
}
/* overriding bootstrap navbar (http://work.smarchal.com/twbscolor/css/83919facb6bfc1c8cfffffff1) */
.navbar-default {
  background-color: #83919f;
  border-color: #acb6bf;
}
.navbar-default .navbar-brand {
  color: #c1c8cf;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #c1c8cf;
}
.navbar-default .navbar-nav > li > a {
  color: #c1c8cf;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #83919f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #c1c8cf;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #acb6bf;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #acb6bf;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #acb6bf;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #acb6bf;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #acb6bf;
}
.navbar-default .navbar-toggle {
  border-color: #acb6bf;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #acb6bf;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c1c8cf;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #c1c8cf;
}
.navbar-default .navbar-link {
  color: #c1c8cf;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #c1c8cf;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #acb6bf;
  }
}