@{
    Layout = null; // overwriting the layout from _ViewStart.cshtml
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Japangolin | Index</title>
</head>
<body>
<div>
    <div>
        <a href="@Url.RouteUrl("react japangolin route")">With React</a>
    </div>
    <div>
        <a href="@Url.RouteUrl("inert japangolin route")">Without React</a>
    </div>
    <div>
        <a href="@Url.RouteUrl("tutorial main route")">Tutorial</a>
    </div>
</div>
</body>
</html>
