@model Wacton.Japangolin.Web.ViewModels.AboutViewModel

@{
    ViewData["Title"] = "About";
}

<div style="margin-top: 20px">
    <h3 style="display: inline">@Model.Title</h3>
    <h6 style="display: inline">@Model.Subtitle</h6>
</div>

<div style="margin-top: 5px; white-space: nowrap">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <a href="@Model.Link">@Model.Link</a>
</div>

<hr/>
<div>
    <canvas id="countsChart" width="200" height="200" style="margin-bottom: 10px"></canvas>
</div>
<div id="counts" style="white-space: nowrap">
</div>

<hr />
<div class="row">
    <div class="col-sm-2">
        <!-- uses 2 of 12 columns for sm, md, lg, xl window sizes; defaults to 12 columns for anything smaller (xs) -->
        <input id="clearStorageButton" type="button" value="Clear" class="btn btn-primary btn-block" />
    </div>
</div>

<script type="text/javascript" src="/scripts/about.js"></script>