@model Wacton.Japangolin.Web.ViewModels.AboutViewModel

@{
    ViewData["Title"] = "About";
}

<div style="margin-top: 20px">
    <h3 style="display: inline">@Model.Title</h3>
    <h6 style="display: inline">@Model.Subtitle</h6>
</div>

<div style="margin-top: 5px">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <a href="@Model.Link">@Model.Link</a>
</div>