<!-- TODO: a view model instead? -->
@using Wacton.Japangolin.Domain.JapanesePhrases
@model JapanesePhrase

@{
    ViewData["Title"] = Model.Kana;
}

<div>
    <h2 id="kana">@Model.Kana</h2>
    <hr/>
    <form asp-controller="Home" asp-action="Next" method="post" role="form">
        <div>
            <div>
                <button type="submit" class="btn btn-default">Japangolin?-asp</button>
                <button type="button" class="btn btn-default" onclick="updatePhrase(window, window.document)">Japangolin?-js</button>
            </div>
        </div>
    </form>
    <hr/>
    <div id="meanings">
        @{
            foreach (var meaning in Model.Meaning)
            {
                <p>@meaning</p>
            }
        }
    </div>
</div>

<script type="text/javascript" src="/js/functions.js"></script>

