<!-- TODO: a view model instead? -->
@using Wacton.Japangolin.Domain.JapanesePhrases
@model JapanesePhrase

@{
    ViewData["Title"] = Model.Kana;
}

<div>
    <h1 id="kana"></h1>
    @*<hr/>
    <form asp-controller="Home" asp-action="Next" method="post" role="form">
        <div>
            <div>
                <button type="submit" class="btn btn-default">Japangolin?-asp</button>
            </div>
        </div>
    </form>*@
    <div class="input-group input-group-lg">
        <input id="userText" type="text" class="form-control" placeholder="Romaji..."/>
        <span class="input-group-btn">
            <button id="updateButton" type="button" class="btn btn-warning">Give up :(</button>
        </span>
    </div>

    <div>
    </div>
    <div id="kanji">
    </div>
    <div id="meanings">
    </div>
</div>

<script type="text/javascript" src="/scripts/app.js"></script>
<script type="text/javascript" src="/scripts/PhraseUpdater.js"></script>
