<!-- TODO: a view model instead? -->
@using Wacton.Japangolin.Domain.JapanesePhrases
@model JapanesePhrase

@{
    ViewData["Title"] = Model.Kana;
}

<div>
    <h2 id="kana"></h2>
    @*<hr/>
    <form asp-controller="Home" asp-action="Next" method="post" role="form">
        <div>
            <div>
                <button type="submit" class="btn btn-default">Japangolin?-asp</button>
            </div>
        </div>
    </form>*@
    <hr/>
    <div>
        <input id="userText" type="text" clas="form-control"/>
        <button id="updateButton" type="button" class="btn btn-default" style="margin-left: 10px;">Give up :(</button>
    </div>
    <div>
    </div>
    <div id="kanji">
    </div>
    <div id="meanings">
    </div>
</div>

<script type="text/javascript" src="/scripts/app.js"></script>
<script type="text/javascript" src="/scripts/PhraseUpdater.js"></script>
